* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 30, 30);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 138, 29);
    font-size: 5.5rem;
    font-weight: 300;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

.bg {
    height: 500px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    background-image: url(https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

p {
    color: white;
    font-size: 14px;
    text-align: center;
}